# Build directories
build/
out/
cmake-build-*/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Compiled binaries
*.exe
*.out
*.app
pointer_demo

# CMake generated
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# MacOS specific
.DS_Store
.AppleDouble
.LSOverride

# Binary files
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb